/*Selector-Background behind text and images -all pages */
body{

    background-color: rgb(180, 140, 65);
    font-family: "Space Mono", monospace;

}

/* Class-Rounded Rectangle behind text and images -all pages */
.rounded_background{

    background-color: rgba(255,255,255, 0.6);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* any images -all pages */
.rounded_img{

border-radius: 20px;
display: block;
margin: auto;

}

/*ID-banner image - all pages*/

#top_banner
{
    border-radius: 20px;
    border: 10px solid rgba(225, 209, 179, 1);
}

#logo_image{
    border-radius: 20px;
     border: 5px solid rgba(225, 209, 179, 1);
}





/* nav bar - all pages */
.navContainer{
    margin-top: 20px;
}

nav ul{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
nav ul li{
    background-color: rgba(225, 209, 179, 1);
    border-radius: 10px;
    width: 187px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 28px;

}

nav li a { 
    text-decoration: none;
}
/* nav bar - all pages */

/* gallary page grid system */

.image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colums */
    gap: 100px;
    row-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

}

.image-grid img{

    width: 100%;
    display: block;
    object-fit: cover;
}

/* Skyviel List*/
.Skyveil {
    list-style-type: square; /* or 'circle', 'square', or custom */
}

#listGeneric {
    list-style-position: inside;
    font-size: 1em;
    line-height: 1.8em;
    color: #eedec6;
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 1.2em 1.5em;
    counter-reset: item;
}

.side-by-side dt{
    float: left;
    width: 20%;
    font-weight: bold;
    clear: left;

}

.side-by-side dd{
   margin-left: 40%;
   padding-bottom: 0.5em;

}

/* -- robot collection table --*/
/* Table container styling */
table {

border-collapse: collapse;
background-color: #d3c49e;
color: #2c2c2c;
margin-bottom: 2em;
border-radius: 20px;
overflow: hidden;


}

table th{

    background-color: #bfa96b;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    padding: .75em; 
    text-align: center;
    border-bottom: 2px solid #8d7751;

}

/* Image and text cells */
table td {

    vertical-align: top;
    padding: 1em;
    border-top: 1px solid #a18a60;
}

/* Image cell */
table img{
    border-radius: 8px;
}

/* toy name rows */
table tr td[colspan="2"]{

    font-weight: bold;
    font-size: 1.1em;
    background-color: #ede2c3;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* Paragrapht text in description text */
table p{
    margin: 0;
    line-height: 1.6;
}

/* footer - all pages */
footer{
    text-align: center;

}